body{
    /* Margen */
    margin: 0;
    /* Margen hacia dentro */
    padding: 9;
    /* Tamaño de letra */
    font-size: 17px;
    /* Tipo de letra */
    font-family: Arial, Helvetica, sans-serif;
    
    
}

/*****/
/* Navegación */

header{
    /* width - ancho / height-alto */
    width: 100%;
    height: 60px;
}

header nav{
    /* Elementos flexibles */
    display: flex;
    /* Alinear hacia la derecha */
    justify-content: flex-end;
   
}

header nav .nav-right-section{
    width: 250px;
    /* Eliminar viñetas */
    list-style: none;
    /* Flexibilidad a nuestro componente */
    display: flex;
    /* Centramos horizontalmente los elementos dentro la lista */
    justify-content: center;
    /* Centramos verticalmente la lista */
    align-items: center;
}

a{
    /* Elimina la línea debajo */
    text-decoration: none;
 
}

nav .nav-right-section a{
    /* Color de texto */
    color: rgb(21, 21, 21);
    /* Margen derecho */
    margin-right: 28px;
}

nav .nav-right-section .menu{
    background-image: url(https://img.icons8.com/ios-glyphs/90/000000/circled-menu.png);
    width: 25;
    height: 25px;
    /* Modfica el tamaño de la imagen al tamaño de el contedor */
    background-size: contain;
    /* Para eliminar la repetición del elemento-no repetir */
    background-repeat: no-repeat;
}

nav .nav-right-section img{
    
    /* Redondear bordes de la imagen */
    border-radius: 20px;
    /* Margen izquierdo -separa menú de imagen */
    margin-left: 25%;
    width: 35px;
}

/*******/
/*****/
/*******/
/* Main */
main{
    /*distancia entre el logo y el inicio*/
    margin-top: 20px;
    text-align: center;
    }
/* Sección logo */
main .main-logo{
    width: 272px;
    /* setea 0 al margen de arriba y abajo -- auto (settea en auto bordes de izquierda y derecha) */
    /* Vertical | Horizontal */
    margin: 0 auto ;
    margin-bottom: 40px;
}
/* Logo */
main .main-logo img{
  width: 130%;
margin: 0 auto;
}

/* Sección input */
main .main-input{
    width: 550px;
    margin: 0 auto;
    /* Separación entre buscador y botones */
    margin-bottom: 40px;
  
}
/* Caja con bordes redondeados */
main .main-input-countainer{
    /* borde y pide 3 valores - anchura de línea, estilo y color */
    /* style: dotted, solid, inset */
    /*caja y sus bordes*/
    border: 1px solid #dfe1e5;
    /* bordes redondeados */
    border-radius: 30px;
    width: 550px;
    /* Componentes flexibles y que se muevan */
    /* Centrado */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;

}
/* Caja de input */
main .main-input input{
    /*ancho de la caja*/
    height:55px;
    border: 13px;
    /* outline - borde cuando seleccionas elemento */
    outline:none;
    width: 550px;
}

main .main-input .search-icon{
    background-image: url(https://seekicon.com/free-icon-download/search_20.svg);
    background-size: contain;
    padding-left: 9%;
    background-repeat: no-repeat;
    background-position: center;
    height: 15px;

}

main .main-input .micro-icon{
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Google_mic.svg/726px-Google_mic.svg.png);
    height: 16px;
    width: 16px;
    background-size: contain;
    background-position: center;
    padding-left: 7%;
    background-repeat: no-repeat;
}

main .main-input .cam-icon{
    background-image: url(https://static.wikia.nocookie.net/logopedia/images/2/2b/Google_Lens_2021.svg);
    background-position: center;
    background-size: contain;
    width: 17px;
    height: 17px;
    background-repeat: no-repeat;
    padding-right: 5%;
}

/* botones */
main .main-buttons{
    width: 450px;
    /* vertical - horizontal */
    margin: 0 auto;
}

main .main-buttons div{
    /* inline block: que estén en la misma línea */
    display: inline-block;
}
main .main-buttons button{
background-color: #f8f9fa;
border: none;
height: 45px;
font-size: 18px;
color: #3c4043;
padding: 0px 15px;
border-radius: 10px;
margin-right: 10px;

    
}
/* efecto al pasar el mouse */
main .main-input-countainer:hover{
    /* offset-x | offset-y | blur-radius | color */
    /*sombra en la caja*/
    box-shadow: 0 0 2px #acaeb447;
}

main .main-buttons button:hover{
    /*cambia de color al pasar el mause del original*/
    color:#202124;
    /*borde que se activa al pasar el mouse anchura, linea y color*/
    border: 1px solid #dadce0;
    /*sombra de caja*/
    box-shadow: 0 1px 1px #20212447;
   
  

}
input::placeholder {
    color:#646b70;
    font-size: 1.2em;
    font-style: normal;
 
} 
footer {
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    display: grid;
    font-size: 14px;
    position: absolute;
    align-items: center;
    background-color: #f2f2f2;
    grid-template-columns: 1fr 1fr;
    border-top: 1px solid #e4e4e4;
}
footer ul {
    display: flex;
    padding-left: 0;
    list-style: none;
    margin: 2px 10px 0;
    
}

footer .footer-left {
    justify-self: left;
}

footer .footer-right {
    justify-self: right;
}

footer ul li a {
    margin: 10px;
    color: #5f6368;
    font-size: 17px;

}
.Mexico{
    color: #5f6368;
    padding: 0;
    font-size: 17px;
  
}
